<td class="align-middle text-center text-sm">
    <p class="text-xs font-weight-bold mb-0">
        <%=row.patient_name %>
    </p>
    <!-- <p class="text-xs text-secondary mb-0">Organization</p> -->
</td>
<td class="align-middle text-center text-sm">
    <p class="text-xs font-weight-bold mb-0">
        <%=row.patient_email %>
    </p>
    <!-- <p class="text-xs text-secondary mb-0">Organization</p> -->
</td>
<td class="align-middle text-center text-sm">
    <p class="text-xs font-weight-bold mb-0">
        <%=row.patient_mobile %>
    </p>
    <!-- <span class="badge badge-sm bg-gradient-success">Online</span> -->
</td>
<td class="align-middle text-center text-sm">
    <p class="text-xs font-weight-bold mb-0">
        <%=row.app_date %>
    </p>
    <!-- <span class="badge badge-sm bg-gradient-success">Online</span> -->
</td>
<td class="align-middle text-center text-sm">
    <p class="text-xs font-weight-bold mb-0">
        <%=row.serial%>
    </p>
    <!-- <span class="text-secondary text-xs font-weight-bold">23/04/18</span> -->
</td>