<!--6 tarikh-->
<%- include('./header') -%>
    <!-- <div id="preloader">
        <img class="load" src="/img/preloader3.gif" alt="#">
    </div> -->
    <%- include('./navigation') -%>
        <!-- END LOADER -->

        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-md-7 mx-auto">
                    <div class="card">
                        <div class="text-center card-header pb-0">
                                <h6>Update Doctor</h6>
                        </div>
                        <div class="card-body">
                            <p class="text-center text-uppercase text-sm">Doctor Information</p>
                            <form class="row g-3 needs validation" method="POST"
                                action="/admin/doctor/view/edit/<%=row.doctor_id  %> " novalidate>
                                <%- include ("./partials/admin_doctor_edit_form",{row}) %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>


        <%- include('./footer') -%>