<%- include('./header') -%>
    <!-- <div id="preloader">
        <img class="load" src="/img/preloader3.gif" alt="#">
    </div> -->
    <%- include('./navigation') -%>
        <!-- END LOADER -->

        <div class="card shadow-lg mx-4 card-profile-bottom">
        </div>
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header pb-0">
                            <div class="d-flex align-items-center">
                                <p class="mb-0">Assign Doctor</p>
                                <!-- <p class="mb-6"> -->
                                    <p>
                                    <% if(message) {%>
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <%= message %>
                                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                        <% } %>
                                </p>
                                <!-- <button class="btn btn-primary btn-sm ms-auto">Settings</button> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="text-uppercase text-sm">Doctor Information</p>
                            <form class="row g-3 needs validation" method="POST" action="/admin/doctor/assign" novalidate>
                                <%- include ("./partials/admin_doctor_assign_form",{doctor_row},{hospital_row}) %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

        <%- include('./footer') -%>