<%- include('./header') -%>
<% if(user){ %>
	<%- include('./navigation_logout') -%>
	<%} else{ %>
		<%- include('./navigation') -%>
			<%}%>
    <!-- Page Content -->
			<div class="content success-page-cont">
				<div class="container-fluid">
				
					<div class="row justify-content-center">
						<div class="col-lg-6 pt-5">
						
							<!-- Success Card -->
							<div class="card success-card text-center">
								<div class="card-body">
									<div class="success-cont">
										<a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i
											class="fa fa-check"></i></a>
										<h3>Appointment booked Successfully!</h3>
										<p>Appointment booked with <strong><%=data.doctor_name%></strong><br> on <strong><%=data.app_date%> </strong><strong><%=data.time_slot%></strong> and serial number: <strong><%=data.serial%></strong></p>
									</div>
								</div>
							</div>
							<!-- /Success Card -->
						</div>
					</div>
					
				</div>
			</div>		
			<!-- /Page Content -->
            <script src="/location.js"></script>
            <script src="/specificSearch.js"></script>
    
            <%- include('./footer') -%>