<%- include('./header') -%>
<% if(user){ %>
    <%- include('./navigation_logout') -%>
    <%} else{ %>
        <%- include('./navigation') -%>
            <%}%>
        <div class="container-fluid py-4">
            <div class="container">
                <div class="row g-5">
                    <div class="col-12 team-item">
                        <div class="row g-0 bg-light rounded overflow-hidden">
                            <div class="col-12 col-sm-4 h-100">
                                <img class="img-fluid h-100" src="img/team-1.jpg" style="object-fit: cover;">
                            </div>
                            <div class="col-6 col-sm-4 h-100 d-flex flex-column">
                                <div class="mt-4 p-6">
                                    <h3>
                                        <%=data.doctor_name %>
                                    </h3>
                                    <h6 class="fw-normal fst-italic text-primary mb-4">
                                        <%= data.degree %>
                                    </h6>
                                    <h6 class="fw-normal fst-italic text-primary">
                                        <%= data.designation %>
                                    </h6>
                                    <h6 class="fw-normal fst-italic text-primary mb-4">
                                        <%= data.hospital_name%>, <%= data.Suburb%>, <%= data.District%>
                                    </h6>
                                    <h5 class="fw-normal fst-italic text-secondary">
                                        Time Slot:
                                    </h5>
                                    <h6 class="fw-normal fst-italic text-secondary">
                                        
                                        <% if(data.Monday==='Yes'){ %>
                                            Mon,
                                            <%}%>
                                            <% if(data.Tuesday==='Yes'){ %>
                                                Tues,
                                                <%}%>
                                                <% if(data.Wednesday==='Yes'){ %>
                                                    Wed,
                                                    <%}%>
                                                    <% if(data.Thursday==='Yes'){ %>
                                                        Thurs,
                                                        <%}%>
                                                        <% if(data.Friday==='Yes'){ %>
                                                            Fri,
                                                            <%}%>
                                                            <% if(data.Saturday==='Yes'){ %>
                                                                Sat,
                                                                <%}%>
                                            <% if(data.Sunday==='Yes'){ %>
                                                Sun,
                                                <%}%>
                                               
                                                    
                                                        
                                                            
                                                                
                                                
                                    </h6>
                                    <h6 class="fw-normal fst-italic text-secondary">
                                        <%= data.time_slot%>
                                    </h6>
                                </div>
                            </div>
                            <div class="col-6 col-sm-3 h-100 d-flex flex-column">
                                <div class="mt-5 p-5">
                                    <div class="d-flex px-4">
                                        <a href="#"><i class="fa fa-regular fa-money-bill"></i></a>
                                        <h6 class="fw-normal fst-italic text-primary mb-4 p-1">
                                            <%= data.visit_fee %> Tk
                                        </h6>
                                    </div>
                                    <div class="d-flex  px-4">
                                        <a href="#"><i class="fa fa-solid fa-phone"></i></a>
                                        <h6 class="fw-normal fst-italic text-primary mb-4 p-1">
                                            <%= data.mobile_no %>
                                        </h6>
                                    </div>
                                    <div class="d-flex  px-4">
                                        <a href="#"><i class="fa fa-solid fa-envelope"></i></a>
                                        <h6 class="fw-normal fst-italic text-primary mb-4 p-1">
                                            <%= data.email %>
                                        </h6>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Appointment Start -->
        <% if(user){ %>
            <div class="container-fluid py-1">
                <div class="container py-2">
                    <div class="row gx-5">
                        <div class="col-12">
                            <div class="bg-light  rounded p-5">
                                <form action="/appointmentBook" method="POST">
                                    <div class="row g-3">
                                        <div class="col-12 col-sm-6">
                                            <input type="date" name="date" id="calDate" value=""
                                                onchange="check_query()" class="form-control  border-0 "
                                                placeholder="Date" style=" height: 55px;">
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <input type="text" name="patName" class="form-control  border-0"
                                                placeholder="Name" value="<%=user.name %>" style="height: 55px;">
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <input type="email" name="patEmail" class="form-control  border-0"
                                                placeholder="Email" value="<%=user.email%>" style="height: 55px;">
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <input type="text" name="patMobile" class="form-control  border-0"
                                                placeholder="Phone Number" value="<%=user.mobile%>"
                                                style="height: 55px;">
                                        </div>
                                        <div class="form-floating  col-12 col-sm-12">
                                            <input type="text" name="patMsg" class="form-control  border-0"
                                                style="height: 100px;">
                                            <label class="form-label" for="text" value="">Additional Message</label>
                                        </div>
                                        <div class="col -12 col-sm-12">
                                            <h6> Customer? <a href="#">Click here to login</a></h6>
                                        </div>
                                    </div>
                                    <input type="hidden" name="docid" id="docHidden" value="<%=data.doctor_id%>">
                                    <input type="hidden" name="hosid" id="hosHidden" value="<%=data.hospital_id%>">
                                    <input type="hidden" name="patid" id="patHidden" value="<%=user.patient_id%>">
                                    <input type="hidden" name="serial" id="appointmentSerial" value="">
                                    <div class="col-12 text-center">
                                        <button class="btn btn-primary w-50 py-3" type="submit">Book
                                            Appointment</button>
                                    </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <%} else{%>
                <div class="container-fluid py-1">
                    <div class="container py-2">
                        <div class="row gx-5">
                            <div class="col-12">
                                <div class="bg-light  rounded p-5">
                                    <form>
                                        <div class="row g-3">
                                            <div class="col-12 col-sm-6">
                                                <input type="date" name="date" id="calDate" value=""
                                                    onchange="check_query()" class="form-control  border-0 "
                                                    placeholder="Date" style=" height: 55px;">
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <input type="text" class="form-control  border-0" placeholder="Name"
                                                    value="" style="height: 55px;">
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <input type="email" class="form-control  border-0" placeholder="Email"
                                                    value="" style="height: 55px;">
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <input type="text" class="form-control  border-0"
                                                    placeholder="Phone Number" value="" style="height: 55px;">
                                            </div>
                                            <div class="form-floating  col-12 col-sm-12">
                                                <input type="text" class="form-control  border-0"
                                                    style="height: 100px;">
                                                <label class="form-label" for="text">Additional Message</label>
                                            </div>
                                            <div class="col -12 col-sm-12">
                                                <h6> Customer? <a href="/patient/login">Click here to login</a></h6>
                                            </div>
                                        </div>
                                        <div class="col-12 text-center">
                                            <button class="btn btn-primary w-50 py-3" type="submit"
                                                onclick="return alert('Please Log In.')">Book
                                                Appointment</button>
                                        </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <%}%>

                    <!-- Appointment End -->
                    <script>
                        var date = new Date();
                        var tday= date.getDay();
                        //console.log(tday);
                        var tdate = date.getDate();
                        var tmonth = date.getMonth() + 1;
                        if (tdate < 10) {
                            tdate = '0' + tdate;
                        }
                        if (tmonth < 10) {
                            tmonth = '0' + tmonth;
                        }
                        var tyear = date.getUTCFullYear();
                        var minYear = tyear + "-" + tmonth + "-" + tdate;
                        document.getElementById("calDate").setAttribute('min', minYear);
                    </script>
                    <script>
                        function check_query() {
                            console.log("yes")
                            var date_ = document.getElementById("calDate").value;
                            var date = new Date(date_);
                            var tday =date.getDay();
                            let dayname;
                            if(tday==0)
                            {
                                dayname="Sunday";
                            }
                            else if(tday == 1)
                            {
                                dayname="Monday";
                            }
                            else if(tday==2)
                            {
                                dayname="Tuesday";
                            }
                            else if(tday==3)
                            {
                                dayname="Wednesday";
                            }
                            else if(tday==4)
                            {
                                dayname="Thurssday";
                            }
                            else if(tday==5)
                            {
                                dayname="Friday";
                            }
                            else if(tday==6)
                            {
                                dayname="Saturday";
                            }
                            console.log(dayname);
                            console.log(tday);
                            console.log(date_)
                            fetch('/dateCheck?date=' + date_ + '&&docid=<%=data.doctor_id%>&&hosid=<%=data.hospital_id%>&&tday=' + tday +'').then(function (response) {

                                return response.json();

                            }).then(function (responseData) {

                                console.log(responseData);
                                document.getElementById("appointmentSerial").value = responseData.cnt;
                                if(responseData.message=='no slot available')
                                {
                                    alert(responseData.message);
                                }
                            });
                        

                        }
                    </script>
                    <script src="/location.js"></script>
                    <script src="/specificSearch.js"></script>

                    <%- include('./footer') -%>