<!--6 tarikh-->
<%- include('./header') -%>
    <!-- <div id="preloader">
        <img class="load" src="/img/preloader3.gif" alt="#">
    </div> -->
    <%- include('./navigation') -%>
        <!-- END LOADER -->

        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-md-7 mx-auto">
                    <div class="card">
                        <div class=" text-center card-header pb-0">
                            <h6>Add Hospital</h6>
                        </div>
                        <!--<div class="d-flex align-items-center">
                            <p class="mb-12">
                                <% if(message) {%>
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <%= message %>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                    </div>
                                    <% } %>
                            </p>
                            <button class="btn btn-primary btn-sm ms-auto">Settings</button>
                        </div>
                    </div>-->
                        <div class="card-body">
                            <p class="text-center text-uppercase text-sm ">Hospital Information</p>
                            <form class="row g-3 needs validation" method="POST" action="/admin/hospital/add"
                                novalidate>
                                <%- include ("./partials/hospital_form") %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



            <%- include('./footer') -%>