<%- include('./header') -%>
    <!-- <div id="preloader">
        <img class="load" src="/img/preloader3.gif" alt="#">
    </div> -->
    <%- include('./navigation') -%>
        <!-- END LOADER -->

        <h1>I am <%=info[0].receptionist_name  %> </h1>
        <a class="btn btn-primary" href="/receptionist/<%=info[0].receptionist_id %>" role="button">View</a>



<%- include('./footer') -%>