<%- include('./header') -%>
    <!-- <div id="preloader">
        <img class="load" src="/img/preloader3.gif" alt="#">
    </div> -->
    <%- include('./navigation') -%>
        <!-- END LOADER -->

        <h1> <%=  row.receptionist_name%></h1>
        <h1>
            <%= row.email%>
        </h1>
        <h1>
            <%= row.mobile%>
        </h1>
        

<%- include('./footer') -%>