<%- include('./header') -%>
    <!-- <div id="preloader">
        <img class="load" src="/img/preloader3.gif" alt="#">
    </div> -->
    
        <!-- END LOADER -->

        <h1> <%=  user.receptionist_name%></h1>
        <h1>
            <%= user.email%>
        </h1>
        <h1>
            <%= user.mobile%>
        </h1>
        

<%- include('./footer') -%>