<%- include('./header') -%>
    <%- include('./navigation') -%>

        <body>
            <title>
                <%= title %>
            </title>
            <% if(data.length> 0){ %>
                <% data.forEach(function(row){ %>
                    <% if(title==='Doctor' ){%>
                        <p>
                            <%= row.doctor_id %>
                        </p>
                        <p>
                            <%= row.name %>
                        </p>
                        <p>
                            <%= row.specialty %>
                        </p>
                        <p>
                            <%= row.mobile_no %>
                        </p>
                        <p>
                            <%= row.email %>
                        </p>
                        <%} else{%>
                            <p>
                                <%= row.hospital_id %>
                            </p>
                            <p>
                                <%= row.name %>
                            </p>
                            <p>
                                <%= row.area %>
                            </p>
                            <p>
                                <%= row.type %>
                            </p>
                            <p>
                                <%= row.description %>
                            </p>
                            <%}%>
                                <% })}%>

                                    <script src="/location.js"></script>
                                    <script src="/specificSearch.js"></script>

                                    <%- include('./footer') -%>