<%- include('./header') -%>
<% if(user){ %>
    <%- include('./navigation_logout') -%>
    <%} else{ %>
        <%- include('./navigation') -%>
            <%}%>
        <title>
            <%= title %>
        </title>
        <div class="container-fluid py-5">
            <div class="container">
                <div class="row g-5">
                    <% if(data.length> 0){ %>
                        <% data.forEach(function(row){ %>
                            <% if(title==='Doctor' ){%>
                                <div class="col-lg-6 team-item">
                                    <div class="row g-0 bg-light rounded overflow-hidden" style="height: 295px;">
                                        <div class="col-12 col-sm-5 h-100">
                                            <img class="img-fluid h-100" src="img/team-1.jpg"
                                                style="object-fit: cover;">
                                        </div>
                                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                                            <div class="mt-auto p-4">
                                                <h3>
                                                    <%= row.doctor_name %>
                                                </h3>
                                                <h6 class="fw-normal fst-italic text-primary">
                                                    <%= row.degree %> 
                                                </h6>
                                                <h6 class="fw-normal fst-italic text-primary mb-3">
                                                    <%= row.year_of_experience %> years of Experience 
                                                </h6>
                                                <h6 class="fw-normal fst-italic text-primary mb-3">
                                                    <%= row.hospital_name%>, <%= row.Suburb%>, <%= row.District%>
                                                </h6>
                                                <h6 class="fw-normal fst-italic text-primary">
                                                    Contact Info: <%= row.email %>
                                                </h6>
                                            </div>
                                            <div class="d-flex mt-auto border-top p-2">
                                                <div class="col-12 text-center">
                                                    <!-- fetch('/get_data?cri=' + criteria_ + '').then(function (response) { -->
                                                    <a class="btn btn-primary" href="/viewProfile_doc_id=<%=row.doctor_id %>&hos_id=<%=row.hospital_id%>" role="button">View Info</a>    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%} else{%>
                                    <div class="col-lg-6 team-item">
                                        <div class="row g-0 bg-light rounded overflow-hidden" style="height: 325px;" >
                                            <div class="col-12 col-sm-5 h-100">
                                                <img class="img-fluid h-100" src="img/hospital.png"
                                                    style="object-fit: cover;">
                                            </div>
                                            <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                                                <div class="mt-2 px-4 pt-4">
                                                    <h3>
                                                        <%= row.name%>
                                                    </h3>
                                                    <h6 class="fw-normal fst-italic text-primary mb-2">
                                                        <%= row.Suburb %>, <%= row.District %>
                                                    </h6>
                                                    <h6 class="fw-normal fst-italic text-primary mb-3">
                                                        <%= row.Specialization %> Specialized Hospital
                                                    </h6>
                                                    <h6 class="fw-normal fst-italic text-secondary">
                                                        Departments :
                                                      </h6>
                                                    <h6 class="fw-normal fst-italic text-primary">
                                                        <%= row.description%>
                                                    </h6>
                                                </div>
                                                <div class="d-flex mt-auto border-top p-2">
                                                    <div class="col-12 text-center">
                                                        <a class="btn btn-primary" href="/viewHosProfile_hos_id=<%=row.hospital_id%>" role="button">View Info</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%}%>
                                        <% })}else{%>
                                            <div class="mb-4 navigation text-center ">
                                                <h3>No Search found</h3>
                                            </div>
                                            <%}%>


                </div>
            </div>
        </div>
        <script src="/location.js"></script>
        <script src="/specificSearch.js"></script>

        <%- include('./footer') -%>